{{ template "base" . }}

{{ define "content" }}

<!-- body start -->
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png"
                class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-3">Welcome to General's Quarters</h1>
            <p>
                Your home away from home, set on the majestic waters of the Atlantic
                Ocean, this will be a vacation to be remembered Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Repellat debitis asperiores
                voluptate maiores excepturi repellendus, soluta voluptatum molestias
                harum! Asperiores quasi dolore, culpa aut eveniet deserunt
                voluptatum unde reprehenderit cum?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>
<!-- body end -->

{{ end }}

{{ define "js" }}

<script>
    document.getElementById("check-availability-button").addEventListener("click", (e) => {
        let html = `
        <form id="check-availability-form" action="" method="get" novalidate class="needs-validation">
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required type="text" class="form-control" name="start" id="start"
                                placeholder="Arrival" />
                        </div>
                        <div class="col">
                            <input disabled required type="text" class="form-control" name="end" id="end"
                                placeholder="Departure" />
                        </div>
                    </div>
                </div>
            </div>
        </form>            
        `;

        attention.custom({
            msg: html,
            title: "Choose your dates",
            callback: result => {
                console.log("called");
            }
        });
        });
</script>

{{ end }}