{{ template "base" . }}

{{ define "content" }}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the home page</h1>
      <p>This is a paragraph to the home page</p>

      <img src="/static/images/waterfall.jpg" alt="waterfall.jpg" height="1330" width="2364">
    </div>
  </div>
</div>

{{ end }}